<html lang="en">
    {{!-- HEADER --}}
{{>header}}
    <body class="text-primary">
        {{!-- Background Image  --}}
        <img src="img/background.png" class="myBg" >
        {{!-- NAVBAR --}}
        {{>navbar}}
        {{!-- BODY --}}
        {{{body}}}
        {{!-- FOOTER --}}
        {{> footer}}
    </body>
</html>