{{! <label id="nameMain">Carelas</label> }}
{{! Container }}
<div class="container mt-5">
    {{! Carousel}}
    <div
        id="carouselExampleIndicators"
        class="carousel slide border border-3 border-danger rounded"
        data-bs-ride="true"
    >
        <div class="carousel-indicators">
            <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
            ></button>
            <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
            ></button>
            <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
            ></button>
        </div>
        <div class="carousel-inner">
            <a href="">
                <div class="carousel-item active">
                    <img
                        src="/img/carExample1.png"
                        class="d-block w-100"
                        alt="carExample1"
                    />
                </div>
            </a>
            <div class="carousel-item">
                <img
                    src="/img/carExample2.png"
                    class="d-block w-100"
                    alt="..."
                />
            </div>
            <div class="carousel-item">
                <img
                    src="/img/carExample3.png"
                    class="d-block w-100"
                    alt="..."
                />
            </div>
        </div>
        <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="d-flex justify-content-center mt-5">
        <div class="row text-center">
            <span class="" style="font-size: 27px;">Popular Makers</span>
            <span
                class=""
                style="font-size: 17px; font-weight: lighter; color:rgb(70, 156, 231);"
            >Choose wisely</span>
        </div>
        <div class="popular-makers">
        </div>
    </div>
</div>